{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error"],
    "jsx-a11y/label-has-associated-control": [
      2,
      { "labelAttributes": ["htmlFor"] }
    ],
    "react/function-component-definition": [
      0,
      { "namedcomponents": "arrow-function" }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": ["error", { "ignore": ["css"] }],
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
  
}
