{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error"],
    "jsx-a11y/label-has-associated-control": [
      2,
      { "labelAttributes": ["htmlFor"] }
    ],
    "react/function-component-definition": [
      0,
      { "namedcomponents": "arrow-function" }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
